.maindiv {
  /* display: flex;
  align-items: normal; */
  padding: 10px 50px;
}
.navbar-brand {
  margin-left: auto;
  display: flex;
}
.nav-tabss {
  text-align: center;
}
@media (max-width: 768px) {
  .maindiv {
    padding: 10px 0px;
  }
}
